.karla-regular {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.karla-bold {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
.karla-extrabold{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
#main{
    background-image: url(section.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 7em;
}

#hero #heading{
    font-size: 5em;
}

#faq{
  background-image: url(faqbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#footer{
  background-color: #44245C;
}

#footer-logo{
  height: 5em;
  width:5em;
}


/* Custom Styles for Mobile */
@media (max-width: 768px) {
  #heading {
      font-size: 24px;
  }

  #connect-btn, #join-btn {
      font-size: 16px;
  }

  .navbar-nav .nav-link {
      font-size: 14px;
  }

  .btn {
      padding: 0.5rem 1rem;
  }

  .container img {
      max-width: 100%;
      height: auto;
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* Slide-up animation */
@keyframes slideUp {
  from {
      transform: translateY(50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

/* Hover effect for buttons */
.btn:hover {
 transition: all 0.3s ease-in-out;
}

/* animations to elements */
#hero h1 {
  animation: fadeIn 3s ease-in-out;
}

#hero button {
  animation: fadeIn 2s ease-in-out;
  animation-delay: 1s;
}

#about img, #faq img, #carousel img {
  animation: slideUp 3s ease-in-out;
}

#footer-logo {
  animation: fadeIn 3s ease-in-out;
}

.btn.clicked {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}